 .App {
  text-align: center;
  padding: 1%;
}

.graph-elements{
  box-sizing: border-box;
}

#filter-button{
  text-align:justify;
  background-color: #EEEEEE;
  border: 2px solid #282c34;
  margin: 5vh 0 1px 0;
}
#filter-button:hover{
  background-color: rgba(245, 239, 245, 0.5);
  /* color: rgb(55, 255, 0); */
}

.filter-inputs{
  width: 80%;
  height: 4%;
  margin: 1px 0 1px 0;
  box-sizing: inherit;
  border-radius: 4px;
  border: 0px;
  color: black;
}

#left-container{
  background-color: #1C4E80;
  color: white;
  margin:0;
  width: 15%;
  height: 100vh;
  position:sticky;
  left:0;
  top:0;
  box-sizing: border-box;
  border-right: 1px solid black;
}
#right-container{
  background-color:  #F1F1F1 ;
  margin: 0;
  width: 85%;
  box-sizing: border-box;
}

.row-container{
  display: flex;
  justify-content: space-evenly;
  margin: 1vh 0 1vh 0;
  border-radius: 3px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  top: 0;
}


#static-head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.chart-container{
  height: 50%;
  border: 1px solid black;
  margin: 0;
}